body {
    form-family: Tahoma;
    backgroubd: #585df5;
    margin: o;

}
h1 {
    cusor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 5 px;
    border_bottom: 3 px solid #58c6f5;

}